.modal-dialog {
  width: 600px !important;
  margin: 0 !important;
  position: relative;
  z-index: 999999;
  background: #f5f5f5;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.modal-dialog .title {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
}
.modal-dialog .sub-title {
  font-size: 0.8rem;
  line-height: 1.4;
}
.modal-dialog .content-body .icon {
  color: #fdac41;
  border: 2px solid #fdac41;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  line-height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 676px) {
  .modal-dialog {
    width: 340px !important;
    z-index: 999999999 !important;
  }
}